body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background: #f9fafb;
  color: #222;
}

.two-column {
  display: flex;
  gap: 32px;
  max-width: 1550px;
  margin: 0 auto;
  padding: 60px 16px;
  align-items: flex-start;
}


.left {
  flex: 0 0 650px;
  position: sticky;
  top: 120px; 
  justify-content: left;
  color: #fff;
}

.hero-title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: white ;
  padding-right: 1rem;
  -webkit-animation: text-shadow-pop-bl 0.9s both;
	animation: text-shadow-pop-bl 0.9s both;
}

@-webkit-keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #1a1a1a, -2px 2px #1a1a1a, -3px 3px #1a1a1a, -4px 4px #1a1a1a, -5px 5px #1a1a1a, -6px 6px #1a1a1a, -7px 7px #1a1a1a, -8px 8px #1a1a1a;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}

@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a, 0 0 #1a1a1a;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #1a1a1a, -2px 2px #1a1a1a, -3px 3px #1a1a1a, -4px 4px #1a1a1a, -5px 5px #1a1a1a, -6px 6px #1a1a1a, -7px 7px #1a1a1a, -8px 8px #1a1a1a;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}


.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 30px;
}

.hs-button {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.2s ease;
  border-radius: 2rem;
}

.right {
  flex: 1;
  min-width: 0;
  margin: 3rem 1rem 0rem;
}

/* .features-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 600;
} */

.features-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 150px); 
  grid-gap: 40px;
  margin-top: 2rem;
}

.div1 { 
  grid-area: 1 / 1 / 3 / 6; 
  animation-delay: 0.1s;
  background-image: url("https://cdn.discordapp.com/attachments/360412196913807360/1419761841487216810/image.png?ex=68d2efc0&is=68d19e40&hm=e197de6e4af88c3ac36f3ed89bef27ddccb374f44af7a432f811930832ba16a1");
  background-size: cover;
  background-position: center;
}

.div2 { 
  grid-area: 3 / 1 / 6 / 3; 
  animation-delay: 0.2s;
  background-image: url("https://cdn.discordapp.com/attachments/360412196913807360/1419751201842397234/image.png?ex=68d2e5d8&is=68d19458&hm=0fca53510edb6f65dfdd76421a86615f55511feabdaa2294c96e2ed7b3553758");
  background-size: cover;
  background-position: center;
}

.div3 { 
  grid-area: 3 / 3 / 6 / 6; 
  animation-delay: 0.3s;
  background-image: url("https://cdn.discordapp.com/attachments/360412196913807360/1419750089810903231/image.png?ex=68d2e4cf&is=68d1934f&hm=b4ec657c5a66a4ad606869f6632d01b8bdb9c884587fe8e04ca44fca80e75b6a");
  background-size: cover;
  background-position: center;
}

.div4 { 
  grid-area: 6 / 1 / 8 / 4; 
  animation-delay: 0.4s;
  background-image: url("https://cdn.discordapp.com/attachments/360412196913807360/1419755790801178644/image.png?ex=68d2ea1e&is=68d1989e&hm=b55476b0581b5ca013a3efc7f893673dd7461c8fff07365ff378e38650739a12");
  background-size: cover;
  background-position: center;
}

.div5 { 
  grid-area: 6 / 4 / 8 / 6; 
  animation-delay: 0.5s;
  background-image: url("https://cdn.discordapp.com/attachments/360412196913807360/1419760076041883700/image.png?ex=68d2ee1b&is=68d19c9b&hm=98a5b17bd33f71a973e34355e52ba731e53b7ef8ab36382e90a4c09faead9ed9");
  background-size: cover;
  background-position: center;
}
.div6 { 
  grid-area: 8 / 1 / 10 / 6; 
  animation-delay: 0.6s;
  background-image: url("https://cdn.discordapp.com/attachments/360412196913807360/1419758835140132935/image.png?ex=68d2ecf4&is=68d19b74&hm=c4e193f944927202b3e88a90ea78a9e448bdeb4475114fdbdb4a3c4b105e0b91");
  background-size: cover;
  background-position: center; 
}

.feature-card {
  border-radius: 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  font-weight: 500;
  text-align: center;
  transition: transform 0.5s ease, background 0.5s ease !important;
  -webkit-animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.feature-card:hover {
  transform: translateY(-6px) !important;
  transition: transform 0.5s ease, background 0.5s ease !important;
  box-shadow: -8px 10px 12px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: -8px 10px 12px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 10px 12px -3px rgba(0,0,0,0.75);
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reviews, .misc {
  padding: 100px 16px;
  text-align: center;
  height: 80vh;
}

.wave span {
  display: inline-block;
  animation: waveUpDown 0.6s ease-in-out forwards;
  white-space: pre;
}

@keyframes waveUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

/* Responsive */
@media (max-width: 900px) {
  .two-column {
    flex-direction: column;
  }
  .left {
    position: static;
    width: 100%;
    margin-bottom: 24px;
  }
}
